* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  background: linear-gradient(
    181deg,
    #fff -0.8%,
    rgba(107, 165, 217, 0.31) 125.77%,
    rgba(90, 155, 213, 0.23) 125.78%
  );
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
